.footer{
    width: 100%;
    padding: 6rem 0;
 
 }
 .footer-container{
     max-width: 1140px;
     margin: auto;
     display: grid;
     grid-template-columns: repeat(2,1fr);
     grid-gap: 40px;
 }
 .left{
     height: 100%;
     max-width: 100%;
     display: flex;
     flex-direction: column;
     padding: 1rem;
 }
 .location{
     display: flex;
     margin-bottom: 0.8rem;
 }
 .location p{
     line-height: 30px;
 }
.phone{
    position: absolute;
    left: 8 rem;
    padding-top: 5rem;
}
.email{
    position: absolute;
    left: 8 rem;
    padding-top: 8rem;
}
 h5{
    font-size: 1.2rem;
    color: #3f51b5;
    text-decoration: none;
    padding: 5rem 0 1rem 0;
 }
 .right{
     height: 100%;
     max-width: 100%;
     display: flex;
     flex-direction: column;
     padding: 1rem;
 }
 
 .social{
     margin-top: 1rem;
 }
 h4{
     font-size: 1.2rem;
     padding-bottom: 0.7rem;
     color: #3f51b5;
     text-decoration: none;
 }
 p{
     font-size: 1.2rem;
     color: #3f51b5;
     text-decoration: none;
 }
 @media screen and (max-width: 6040px){
     .footer-container{
         
         grid-template-columns: 1fr;
        
     }
 
 }